.Custom {
}

.h2{
   text-align: center; 
}
.Input{
    left:30%;
}

.search{
  display: block;
  margin-top:2%;
}

.button{
  display: block;
  margin-top:2%;
  margin-left: 15em;
}
.button2{
  display: block;
  margin-top:1%;
  margin-left: 15em;
}

.card{
  top:30%;
  margin-top:5%;
  margin-left: 2%;
  margin-right:2%;
}

.img1{

}
